.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-inline {
  display: flex;
}

.type {
  margin-left: 20px;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 8px 15px;
  background-color: #bee3f8;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.custom-file-label:hover {
  background-color: #3182ce;
}

.name-table-box {
  width: 30%;
}

.table-container {
  width: 70%;
}

.checkbox-block {
  border: 2px solid #bee3f8;
  width: 28vw;
}

.label-block {
  width: 100%;
  height: 40px;
  background-color: #bee3f8;
}

.label {
  font-size: 20px;
  font-weight: bold;
}

.label span {
  font-size: 15px;
  font-weight: normal;
}
